<!-- section start -->
<!-- ================ -->
<div class="section">
    <div class="container">
        <h2>{{ title }}</h2>
        <div class="separator-2"></div>
        <div class="row">
            {% set count = (products | length / 3) | round %}
            {% for product in products %}
                {% if loop.index0 % count == 0 %}
                    <div class="col-md-4">
                        <div class="block clearfix">
                {% endif %}
                            <div class="list-with-image">
                                <div class="overlay-container">
                                    {% if product.preview is not null  %}
                                        <img src="{{ asset(product.preview) }}" alt="{{ product.preview.alt }}" title="{{ product.preview.alt }}">
                                    {% endif %}
                                    <a href="{{ path('products_show', {alias: product.alias}) }}" class="overlay small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                                <h2><a href="{{ path('products_show', {alias: product.alias}) }}">{{ product.name }}</a></h2>
                                <p class="small">{{ product.description | striptags | slice(0, 50) }}..</p>
                            </div>
                {% if loop.index0 % count == 0 %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- section end -->