{% extends 'CommonBundle::base.html.twig' %}

{% block title %}{{ product.meta.title }}{% endblock %}
{% block description %}{{ product.meta.description }}{% endblock %}
{% block keywords %}{{ product.meta.keywords }}{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">

            {% include 'CategoryBundle:Widget:categories.html.twig' %}

            </div>

            <div class="clearfix visible-sm"></div>

            <!-- Product Detail -->
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="col-lg-12 col-sm-12">
                    <span class="title">{{ product.name }}</span>
                </div>
                <div class="col-lg-12 col-sm-12 hero-feature">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- Main Image -->
                            <div class="product-main-image-container">
                                <img src="{{ asset('/images/loader.gif') }}" alt="" class="product-loader" style="display: none;">
								<span class="thumbnail product-main-image" style="position: relative; overflow: hidden;">
									<img src="{{ asset(product.view) }}" alt="{{ asset(view.alt) }}">
								<img src="{{ asset(product.view) }}" class="zoomImg" style="position: absolute; top: -3.19797px; left: -1.3401px; opacity: 0; width: 400px; height: 400px; border: none; max-width: none; max-height: none;"></span>
                            </div>
                            <!-- End Main Image -->

                            <!-- Thumbnail Image -->
                            {% for view in product.views %}
                                <div class="col-xs-3 product-thumb-image">
                                    <a href="{{ asset(view) }}" class="thumbnail">
                                        <img src="{{ asset(view) }}" alt="{{ asset(view.alt) }}">
                                    </a>
                                </div>
                            {% endfor %}
                            <!-- End Thumbnail Image -->
                        </div>

                        <div class="visible-xs">
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="well product-short-detail">
                                <div class="row">
                                    <form role="form" id="order">
                                        <input type="hidden" name="product" value="{{ product.id }}">
                                        <div class="the-list">
                                            <h3 class="col-xs-12" id="product-price" class="price">
                                                <!-- <span class="price-old">$169</span> -->
                                                {{ product.price }} <span>{{ product.currency }}</span>
                                            </h3>
                                        </div>
                                        <div class="the-list">
                                            <div class="col-xs-4">В наличии:</div>
                                            <div class="col-xs-8">
                                                <!-- <span class="red">OUT OF STOCK</span> -->
                                                <span class="green">Да</span>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <hr>
                                        <hr/>

                                        <div class="col-xs-12 input-qty-detail">
                                            <input type="text" name="quantity" class="form-control input-qty text-center" value="1">
                                            <button type="submit" class="btn btn-default pull-left"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        </div>
                                    </form>

                                    <div class="clearfix"></div><br>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div><br clear="all">
                            <div class="col-xs-12 product-detail-tab">
                                {{ product.description|raw }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
        </div>
        <!-- End Product Detail -->
    </div>
{% endblock %}